In [1]:
#imports

import pandas as pd
import numpy as np
from bs4 import BeautifulSoup
import requests

In [2]:
#create an empty list to collect all reviews
reviews  = []

#create an empty list to collect rating stars
stars = []

#create an empty list to collect date
date = []

#create an empty list to collect country the reviewer is from
country = []

In [1]:
for i in range(1, 36):
    page = requests.get(f"https://www.airlinequality.com/airline-reviews/british-airways/page/{i}/?sortby=post_date%3ADesc&pagesize=100")
    
    soup = BeautifulSoup(page.content, "html.parser")
    
    for item in soup.find_all("div", class_="text_content"):
        reviews.append(item.text)
    
    for item in soup.find_all("div", class_ = "rating-10"):
        try:
            stars.append(item.span.text)
        except:
            print(f"Error on page {i}")
            stars.append("None")
            
    #date
    for item in soup.find_all("time"):
        date.append(item.text)
        
    #country
    for item in soup.find_all("h3"):
        country.append(item.span.next_sibling.text.strip(" ()"))

NameError: name 'requests' is not defined

In [4]:
reviews = reviews[:3418]

In [5]:
len(reviews)

3418

In [6]:
country = country[:3418]

In [7]:
len(country)

3418

In [8]:
#check the length 
stars = stars[:3418]

In [9]:
len(stars)

3418

In [10]:
date = date[:3418]

In [11]:
len(date)

3418

In [12]:
#create  a dataframe from these collected lists of data

df = pd.DataFrame({"reviews":reviews,"stars": stars, "date":date, "country": country})

In [13]:
df.head()

,reviews,stars,date,country
0,Not Verified | Top Ten REASONS to not use Brit...,\n\t\t\t\t\t\t\t\t\t\t\t\t\t5,23rd May 2023,United States
1,Not Verified | Easy check in on the way to He...,1,23rd May 2023,Spain
2,✅ Trip Verified | Online check in worked fine...,10,23rd May 2023,Chile
3,✅ Trip Verified |. The BA first lounge at Term...,10,22nd May 2023,United Kingdom
4,Not Verified | Paid a quick visit to Nice yest...,2,22nd May 2023,United Kingdom

In [14]:
df.shape

(3418, 4)

In [16]:
import os

cwd = os.getcwd()
df.to_csv(cwd+ "/BA_reviews.csv")